@page "/"
@using System.ComponentModel.DataAnnotations
@using Friends.Net.Components.Account
@using Friends.Net.Components.Layout
@using Friends.Net.Data
@using Friends.Net.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject IdentityUserAccessor UserAccessor
@inject ApplicationDbContext DbContext
@attribute [Authorize]

<PageTitle>🏠 Oli's Friends Site</PageTitle>

<AuthorizeView>
    <div class="home">
        <div class="appDrawer">
            @foreach (var shortcut in _shortcuts)
            {
                <a class="app" href="@shortcut.URL" target="_blank" rel="noopener noreferrer">
                    <img src="@shortcut.Icon"/>
                    <p>@shortcut.Title</p>
                </a>
            }
        </div>
        
        @* <AuthorizeView Roles="Admin Publisher"> *@
        @*     <div class="forumPost"> *@
        @*         <h2>New Post Here!</h2> *@
        @*     </div> *@
        @* </AuthorizeView> *@
        
        @for (int i = 0; i < 50; i++)
        {
            <div class="forum">
                <h2>@LoremIpsum.Generate(1, 3, 1, 1, 1)</h2>
                <p>@LoremIpsum.Generate(10, 20, 10, 50, 2)</p>
            </div>
        }
    </div>
</AuthorizeView>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    [SupplyParameterFromForm] private InputModel Input { get; set; } = new();
    private ApplicationUser _user = default!;
    private List<ApplicationShortcut> _shortcuts = []; 
    
    protected override async Task OnInitializedAsync()
    {
        _user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        _shortcuts = DbContext.AppShortcuts.ToList();
        
        Input.PreferredName ??= _user.PreferredName;
        Input.IsAdmin = false;
        MainLayout.Main?.SetPageTitle($"Hi, {Input.PreferredName}");
    }
    
    private sealed class InputModel
    {
        [Display(Name = "Preferred Name")]
        public string? PreferredName { get; set; }
        public bool IsAdmin { get; set; }
    }
}